/* Header */
#login-buttons {
	margin: 18px;
	font-size: 14px;
}

.nav-items-custom {
	margin: 0 10px;
}

.list-group-item {
	height: 55px;
}

.lecture-main > section {
	height: 800px;
}

.lecture-editor {
	height: 750px;
}

.ReactCodeMirror {
	height: 100%;
}

.CodeMirror {
	height: 100%;
}


.lectures-share {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 10px;
}

.lectures-share .input-group {
	width: 30%;
}

.lectures-share > div {
	margin: 0 10px;
}

.video-stream {
	width: 100%;
}

.video-stream-container {
	position: relative;
	height: auto;
  min-height: 100% !important;
}

#own-video {
	position: absolute;
	top: 0;
	width: 20%;
	z-index: 2;
}

#their-video {
	width: 100%;
	z-index: 1;
}
