#login-buttons {
	margin: 18px;
	font-size: 14px;
}

.nav-items-custom {
	margin: 0 10px;
}

.list-group-item {
	height: 55px;
}

.lecture-main > section {
	height: 800px;
}

.lecture-editor {
	height: 750px;
}

.ReactCodeMirror {
	height: 100%;
}

.CodeMirror {
	height: 100%;
}

.call-controls button, .call-controls input {
  margin: 5px 0;
}

.lectures-share {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 10px;
}

.lectures-share .input-group {
	width: 30%;
}

.lectures-share > div {
	margin: 0 10px;
}

.video-stream {
	width: 100%;
}

.video-stream-container {
	position: relative;
	height: auto;
  min-height: 100% !important;
}

#own-video {
	position: absolute;
	top: 0;
	width: 20%;
	z-index: 2;
}

#their-video {
	width: 100%;
	z-index: 1;
}

.lectures-description-container {
	box-sizing: border-box;
	padding: 5px;
}

/*Card stylesheet*/
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  text-decoration: none;
}

.chat-history {
	height: 500px;
	overflow: auto;
}

/*Chat*/
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-wrapper .panel-body {
  height: 400px;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 250px;
}
