/* Header */
#login-buttons {
	margin: 18px;
	font-size: 14px;
}

.nav-items-custom {
	margin: 0 10px;
}

.list-group-item {
	height: 55px;
}

/* Main lecture */
.lecture-main > section {
	height: 85vh;
}

/* Editor */
.lecture-editor {
	height: 70vh;
}

.ReactCodeMirror {
	height: 100%;
}

.CodeMirror {
	height: 100%;
}

/* Share */
.lectures-share {
/*	position: absolute;
	bottom: 0;*/
	width: 100%;
	display: flex;
	align-items: center;
	margin: 10px;
}

.lectures-share .input-group {
	width: 30%;
}

.lectures-share > div {
	margin: 0 10px;
}

/* Video stream */
.video-stream {
	width: 100%;
}